TODO ADD


<section>
  <div class="example-label">FAB</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
          <mat-icon>bookmark</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="warn" aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab disabled aria-label="Example icon button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>
<p>
  <mat-form-field appearance="legacy">
    <mat-label>Legacy form field</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <!-- <mat-hint>Hint</mat-hint> -->
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="standard">
    <mat-label>Standard form field</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>

<div>
  BADGE
  <p>
    <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
  </p>
</div>

<div>
  BUTTON TOGGLE
  <div>
    <mat-button-toggle>Underline</mat-button-toggle>
  </div>
</div>

<div>
  CARD
  <mat-card>Simple card</mat-card>
</div>

<div>
  DATEPICKER
  <!-- <mat-form-field color="accent" appearance="fill">
    <mat-label>Custom calendar color</mat-label>
    <input matInput [matDatepicker]="picker2">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2 color="primary"></mat-datepicker>
  </mat-form-field> -->
</div>


<div>
  MAT DIVIDER
  <mat-list>
    <mat-list-item>Item 1</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Item 2</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Item 3</mat-list-item>
  </mat-list>
</div>

<div>
  MENU
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
</div>


<div>
  PAGINATOR
</div>

<div>
  PROGRESS BAR
  <div>
    BUFFER
    <mat-progress-bar mode="buffer"></mat-progress-bar>
  </div>

  <div>
    Determinate
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
  </div>


</div>

<div>
  PROGRESS SPINNER
  <mat-spinner></mat-spinner>
</div>

<div>
  SELECT
</div>

<div>
  SIDENAV
</div>

<div>
  SNACKBAR
</div>

<div>
  TABLE
</div>


<div>

  TABS


</div>


<div>
  TOOLTIP
</div>





EXISTS





<div>
  BUTTONS
DEFAULT BUTTON
  <div>
    <button mat-button>Defaut</button>
    <button mat-button color="primary">primary</button>
    <button mat-button color="warn">warn</button>
    <button mat-button color="accent">accent</button>
    <button mat-button [disabled] ="true">disabled</button>
  </div>

  RAISED BUTTON
  <div>
    <div>
      <button mat-raised-button>Defaut</button>
      <button mat-raised-button color="primary">primary</button>
      <button mat-raised-button color="warn">warn</button>
      <button mat-raised-button color="accent">accent</button>
      <button mat-raised-button [disabled]="true">disabled</button>
    </div>
  </div>


  ICON BUTTON
  <div>
    <p>default</p>
    <button mat-icon-button>
      <mat-icon>home</mat-icon>
    </button>

    <p>primary</p>
    <button mat-icon-button color ="primary">
      <mat-icon>home</mat-icon>
    </button>


    <p>accent</p>
    <button mat-icon-button color="accent">
      <mat-icon>home</mat-icon>
    </button>

    <p>warn</p>
    <button mat-icon-button color="warn">
      <mat-icon>home</mat-icon>
    </button>

    <div>
      RISED ICON BUTTON
      <div>
        <p>Default</p>
        <button mat-icon-button mat-raised-button>
          <mat-icon>home</mat-icon>
        </button>
        <p>Primary</p>
        <button mat-icon-button mat-raised-button color ="primary">
          <mat-icon>home</mat-icon>
        </button>
        <p>Warn</p>
        <button mat-icon-button mat-raised-button color ="warn">
          <mat-icon>home</mat-icon>
        </button>
        <p>Accent</p>
        <button mat-icon-button mat-raised-button color ="accent">
          <mat-icon>home</mat-icon>
        </button>
      
      
      </div>

    </div>

<div>
  FAB
  <div>
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>delete</mat-icon>
    </button>
  </div>



</div>

<div>
  FAB-mini
  <div>
    <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>




  </div>
</div>


<div>

  RADIOS
  <div>
    <mat-radio-button value="1">Default</mat-radio-button>
    <mat-radio-button color="primary" value="1">Primary</mat-radio-button>
    <mat-radio-button color="warn" value="1">Warn</mat-radio-button>
    <mat-radio-button value="1" [disabled]="true">Disabled</mat-radio-button>
  </div>

  <!-- <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
  </mat-radio-group> -->
</div>


<div>
  SLIDE TOOGLE
  <div>
    <mat-slide-toggle>Default</mat-slide-toggle>
    <mat-slide-toggle color="primary">Primary</mat-slide-toggle>
    <mat-slide-toggle color="warn">Warn</mat-slide-toggle>
    <mat-slide-toggle>Off</mat-slide-toggle>
    <mat-slide-toggle [disabled]="true">Disabled</mat-slide-toggle>
  </div>

</div>


<div>
  SLIDER
  <div>
    <p>default</p>
    <mat-slider>Default</mat-slider>
    <p>Primary</p>
    <mat-slider color="primary">Primary</mat-slider>
    <p>Warn</p>
    <mat-slider color="warn">Warn</mat-slider>
    <p>disable</p>
    <mat-slider [disabled]="true">Disabled</mat-slider>
  </div>
</div>



<div>
  CHECKBOX
  <div>
    <mat-checkbox> Default</mat-checkbox>
    <mat-checkbox color="primary"> Primary</mat-checkbox>
    <mat-checkbox> Warn</mat-checkbox>
    <mat-checkbox> Disabled</mat-checkbox>

  </div>

</div>