<p>
  <mat-form-field appearance="legacy">
    <mat-label>Legacy form field</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <!-- <mat-hint>Hint</mat-hint> -->
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="standard">
    <mat-label>Standard form field</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>

<div>
  BADGE
  <p>
    <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
  </p>
</div>



<div>
  BUTTONS

  <div>
    <button mat-button color="primary">Basic (Normal btn) </button>
    <button color="primary" mat-raised-button>Raised ((Raised btn))</button>
    <button mat-stroked-button>Stroke</button>
    <button mat-flat-button>Flat</button>
  </div>

</div>


<div>

  RADIOS
  <div>
    <mat-radio-button color="primary" value="1">Default</mat-radio-button>
    <mat-radio-button value="1">Primary</mat-radio-button>
    <mat-radio-button value="1">Warn</mat-radio-button>
    <mat-radio-button value="1" [disabled]="true">Disabled</mat-radio-button>
    <mat-radio-button value="1">Able</mat-radio-button>
  </div>

  <!-- <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
  </mat-radio-group> -->
</div>


<div>
  SLIDE TOOGLE
  <div>
    <mat-slide-toggle>Default</mat-slide-toggle>
    <mat-slide-toggle color="primary">Primary</mat-slide-toggle>
    <mat-slide-toggle color="warn">Warn</mat-slide-toggle>
    <mat-slide-toggle>Off</mat-slide-toggle>
    <mat-slide-toggle [disabled]="true">Disabled</mat-slide-toggle>
  </div>

</div>


<div>
  SLIDER
  <div>
    <mat-slider>Default</mat-slider>
    <mat-slider>Primary</mat-slider>
    <mat-slider>Warn</mat-slider>
    <mat-slider>Off</mat-slider>
    <mat-slider>Disabled</mat-slider>
  </div>
</div>

<div>
  RATING SLIDER
  <div>
    <mat-slider thumbLabel [displayWith]="1000" tickInterval="1000" min="1" max="100000">Default</mat-slider>
    <mat-slider thumbLabel color="primary" [displayWith]="1000" tickInterval="1000" min="1" max="100000">
    </mat-slider>
    <mat-slider thumbLabel [displayWith]="1000" tickInterval="1000" min="1" max="100000">Warn</mat-slider>
    <mat-slider thumbLabel [displayWith]="1000" tickInterval="1000" min="1" max="100000">Off</mat-slider>
    <mat-slider thumbLabel [displayWith]="1000" tickInterval="1000" min="1" max="100000">Disabled</mat-slider>
  </div>
</div>

<div>
  CHECKBOX
  <div>
    <mat-checkbox> Default</mat-checkbox>
    <mat-checkbox> Sucess</mat-checkbox>
    <mat-checkbox> Primary</mat-checkbox>
    <mat-checkbox> Warn</mat-checkbox>
    <mat-checkbox> Disabled</mat-checkbox>

  </div>

</div>