TYPOGRAPHY

<h1 class="mat-h1">Header 1</h1>
<h2 class="mat-title">Header 2</h2>
<h3 class="mat-h3">Header 3</h3>
<h4 class="mat-h4">Subtitle</h4>
<p class="mat-body">Subtitle 1 (Paragraph)</p>
<p class="mat-body-2">Subtitle 2</p>


<app-inputs></app-inputs>

<button mat-button color="warn" (click)="openDialog()" >Open Dialog</button>


SELECTION TABLE
<app-tables></app-tables>

COPLLAPSABLE TABLE
<collapsable-table></collapsable-table>

MULTISELECTION
<multiselection-table></multiselection-table>


<app-datpicker></app-datpicker>

<mat-grid-list cols="2">
  <mat-grid-tile>
    <div class="grid-tile-wrapper">


      <!-- BUTTONS LIST -->
      <div>
        <h2>BUTTONS</h2>
        <section>
          <div class="example-label"> DEFAULT BUTTON </div>
          <div class="example-button-row">
            <div>
              <button mat-button>Defaut</button>
              <button mat-button color="primary">primary</button>
              <button mat-button color="warn">warn</button>
              <button mat-button color="accent">accent</button>
              <button mat-button [disabled]="true">disabled</button>
            </div>
          </div>
        </section>
        <mat-divider></mat-divider>

        <section>
          <div class="example-label">RAISED</div>
          <div class="example-button-row">
            <button mat-raised-button>Defaut</button>
            <button mat-raised-button color="primary">primary</button>
            <button mat-raised-button color="warn">warn</button>
            <button mat-raised-button color="accent">accent</button>
            <button mat-raised-button [disabled]="true">disabled</button>
          </div>
        </section>
        <mat-divider></mat-divider>

        <section>
          <div class="example-label">ICON BUTTON</div>
          <div class="example-button-row">
            <button mat-icon-button>
              <mat-icon>home</mat-icon>
            </button>

            <button mat-icon-button color="primary">
              <mat-icon>home</mat-icon>
            </button>


            <button mat-icon-button color="accent">
              <mat-icon>home</mat-icon>
            </button>

            <button mat-icon-button color="warn">
              <mat-icon>home</mat-icon>
            </button>
          </div>
        </section>
        <mat-divider></mat-divider>

        <section>
          <div class="example-label"> RISED ICON BUTTON </div>
          <div class="example-button-row">
            <button mat-icon-button mat-raised-button>
              <mat-icon>home</mat-icon>
            </button>
            <button mat-icon-button mat-raised-button color="primary">
              <mat-icon>home</mat-icon>
            </button>
            <button mat-icon-button mat-raised-button color="accent">
              <mat-icon>home</mat-icon>
            </button>
            <button mat-icon-button mat-raised-button color="warn">
              <mat-icon>home</mat-icon>
            </button>

          </div>
        </section>
        <mat-divider></mat-divider>

        <section>
          <div class="example-label">FAB</div>
          <div class="example-button-row">
            <div class="example-flex-container">
              <button mat-fab color="default">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-fab color="primary">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-fab color="accent">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-fab color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </section>
        <mat-divider></mat-divider>
        <section>
          <div class="example-label">FAB-mini</div>
          <div class="example-button-row">
            <div class="example-flex-container">
              <button mat-mini-fab color="default">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-mini-fab color="primary">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-mini-fab color="accent">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-mini-fab color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </section>
        <mat-divider></mat-divider>

        <section>
          <div class="example-label">FLAT BUTTON</div>
          <div class="example-button-row">
            <div class="example-flex-container">
              <button mat-flat-button>Default</button>
              <button mat-flat-button color="primary">Primary</button>
              <button mat-flat-button color="accent">Accent</button>
              <button mat-flat-button color="warn">Warn</button>
            </div>
          </div>
        </section>
        <mat-divider></mat-divider>

        <section>
          <div class="example-label">FLAT ICON BUTTON</div>
          <div class="example-button-row">
            <div class="example-flex-container">
              <button mat-flat-button>
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-flat-button color="primary">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-flat-button color="accent">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-flat-button color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </section>
        <mat-divider></mat-divider>
      </div>

      <!-- RADIOS LIST -->
      <div class="group-wrapper">
        <h2>RADIOS</h2>
        <div class="select-example">
          <mat-radio-button value="1">Default</mat-radio-button>
          <mat-radio-button color="primary" value="2">Primary</mat-radio-button>
          <mat-radio-button color="warn" value="3">Warn</mat-radio-button>
          <mat-radio-button value="4" [disabled]="true">Disabled</mat-radio-button>
        </div>
      </div>


      <!-- SLIDE TOOGLE LIST -->
      <div class="group-wrapper">
        <h2> SLIDE TOOGLE </h2>
        <div class="select-example">
          <mat-slide-toggle>Default</mat-slide-toggle>
          <mat-slide-toggle color="primary">Primary</mat-slide-toggle>
          <mat-slide-toggle color="warn">Warn</mat-slide-toggle>
          <mat-slide-toggle [disabled]="true">Disabled</mat-slide-toggle>
        </div>

      </div>

      <!-- SLIDER -->
      <div class="group-wrapper">
        <h2>SLIDER</h2>
        <div class="select-example">
          <p>default</p>
          <mat-slider>Default</mat-slider>
          <p>Primary</p>
          <mat-slider color="primary">Primary</mat-slider>
          <p>Warn</p>
          <mat-slider color="warn">Warn</mat-slider>
        </div>
      </div>





      <!--  CHECKBOX -->
      <div class="group-wrapper">
        <h2> CHECKBOX</h2>
        <div class="select-example">
          <mat-checkbox> Default</mat-checkbox>
          <mat-checkbox color="primary"> Primary</mat-checkbox>
          <mat-checkbox color="warn">Warn</mat-checkbox>
        </div>

      </div>






    </div>
  </mat-grid-tile>


  <mat-grid-tile>
    <!-- CARDS -->
    <div class="grid-tile-wrapper">
      <div class="group-wrapper">
        <h2> CARDS</h2>
        <div class="select-example">
          <mat-card>
            <h2>Title</h2>



            Default
            <button mat-button color="accent">Button</button>
            <button mat-flat-button>Button</button>
          </mat-card>


          <mat-card color="primary">Primary</mat-card>
          <mat-card color="warn">Warn</mat-card>
        </div>
      </div>

      <!-- TABS -->
      <div class="grid-tile-wrapper">
        <div class="group-wrapper">
          <h1>TABS</h1>
          <mat-tab-group>
            <mat-tab label="First"> <mat-tab-group>
              <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>home</mat-icon>
                </ng-template>
               Content 1
               </mat-tab>
              <mat-tab label="Second"> Content 2 </mat-tab>
              <mat-tab label="Third"> Content 3 </mat-tab>
            </mat-tab-group></mat-tab>
            <mat-tab label="Second"> Content 2 </mat-tab>
            <mat-tab label="Third"> Content 3 </mat-tab>
          </mat-tab-group>
          
          <h1>TABS 2</h1>
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                  <mat-icon>home</mat-icon>
              </ng-template>
             Content 1
             </mat-tab>
            <mat-tab label="Second"> Content 2 </mat-tab>
            <mat-tab label="Third"> Content 3 </mat-tab>
          </mat-tab-group>





        </div>
      </div>

      <!-- EXPANSION PANEL -->
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              This is the expansion title
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
            <mat-panel-description>
              Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>






      <!-- DATEPICKER -->

      <!-- DATEPICKER
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->

    </div>
  </mat-grid-tile>
</mat-grid-list>







<!-- <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </form> -->


